<style>
.table > tbody > tr > td {
     vertical-align: middle;
     text-align: center;
}
th {
     vertical-align: middle;
     text-align: center;
}
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
</style>

<div class="row">
    <div class="col" style="width:100%">
        <table class="table table-condensed table-hover" style="cursor:default;user-select:none">
            <thead class="thead-default">
                <th style="vertical-align:middle">
                    Name
                </th>
                <th style="vertical-align:middle">
                    Version
                </th>
                <th style="vertical-align:middle">
                    Type(s)
                </th>
                <th style="vertical-align:middle">
                    Loader
                </th>
                <th>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#moduleLoad">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                        Load
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#moduleInstall">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        Install
                    </button>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let module of modules" [ngClass]="{'warning':module.__bossDisable}">
                    <td>
                        {{module.name}}
                    </td>
                    <td>
                        {{getModuleVersionString(module)}}
                    </td>
                    <td>
                        <span *ngFor="let type of module.type" class="label" [ngClass]="colours[type] || colours['']">{{module.type}}</span>
                    </td>
                    <td>
                        {{loaders[module.__loaderUID].name}}
                    </td>
                    <td>
                        <div class="btn-group" style="margin:0">
                            <button type="button" class="btn btn-info btn-sm" [disabled]="module.__bossDisable"
                                data-toggle="modal" data-target="#moduleConfig" (click)="selectedModule = module">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                Settings
                            </button>
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="module.__bossDisable">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                <span class="sr-only">Other actions</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a (click)="updateModule(module)" data-toggle="modal" data-target="#messageLog">
                                        <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
                                        Update
                                    </a>
                                </li>
                                <li>
                                    <a (click)="reloadModule(module)" data-toggle="modal" data-target="#messageLog">
                                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                        Reload
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a (click)="unloadModule(module)" data-toggle="modal" data-target="#messageLog">
                                        <span class="glyphicon glyphicon-eject" aria-hidden="true"></span>
                                        Unload
                                    </a>
                                </li>
                                <li>
                                    <a (click)="uninstallModule(module)" data-toggle="modal" data-target="#messageLog">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        Uninstall
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="messageLog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Message Log</h4>
            </div>
            <div class="modal-body" style="text-align:left">
                <pre>{{getMessageLog()}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearMessageLog()">Close and Clear</button>
            </div>
        </div>
    </div>
</div>

<div id="moduleConfig" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:95%;height:90%;">
        <div class="modal-content">
            <module-config [module]="selectedModule"></module-config>
        </div>
    </div>
</div>

<div id="moduleLoad" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <module-load></module-load>
        </div>
    </div>
</div>

<div id="moduleInstall" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <module-install></module-install>
        </div>
    </div>
</div>
