<div class="modal-header">
    <h4 class="modal-title">Load Module</h4>
</div>
<div class="modal-body" style="text-align:left">
    <div class="form-group">
        <select class="form-control" id="selectLoadModule" [(ngModel)]="selectedModule" [ngClass]="{'hidden':noItemsToSelect()}" placeholder>
            <option value="" disabled selected>Select a module to load</option>
            <option *ngFor="let m of unloadedModules" [ngValue]="m">{{m}}</option>
        </select>
        <p class="help-text" [ngClass]="{'hidden':!noItemsToSelect()}">There are no modules avalible to load.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal" [ngClass]="{'disabled':noItemSelected()}" (click)="load()">
        <span class="glyphicon glyphicon-upload"></span>
        <span>Load</span>
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <span>Cancel</span>
    </button>
</div>
